/* Home.css */
.home {
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9;
    color: #333;
  }
  
  .image-gallery {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 20px 0;
  }
  
  .image-gallery img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  
  h2 {
    margin-top: 20px;
    font-size: 2rem;
  }
  
  ol, ul {
    text-align: left;
    display: inline-block;
    margin: 20px auto;
  }
  
  li {
    margin: 10px 0;
  }
  
  .view-products-button {
    background-color: #4CAF50; /* Green */
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
  }
  
  .view-products-button:hover {
    background-color: #45a049;
  }
  
  footer {
    margin-top: 20px;
    font-size: 0.8rem;
    color: #777;
  }
  